<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <title>Roxy Faye Made</title>
      <link rel="stylesheet" type="text/css" href="/styles.css">
   </head>
   <body>
      <a href="/">Home</a>
      <a href="/register">Register</a>
      <a href="/signin">Signin</a>
      <h1>Welcome {{name}}</h1>
      <script type="text/javascript" src='./main.js'></script>
   </body>
</html>
